# Ignore PDF files, IMPORTANT to prevent uploading sentencias.
*.pdf

# Ignore DOC and DOCX files, IMPORTANT to prevent uploading sentencias.
*.doc
*.docx

# Ignore generated .txt files since they could contain sensitive information.
*.txt
