---
openapi: 3.0.0
info:
  description: >  
    Python Client to Scrapte the University of Michigan Civil Rights Clearinghouse. 
    
    Basic installation:
    
    ```sh
    pip install git+https://github.com/calexander/law-data-design-vip.git
    ```
  title: Civil Rights Clearinghouse Simple API
  version: 0.0.0
servers:
- url: https://clearinghouse.net/api/v1
  description: university of michigan api server
security:
- ApiKey: []
paths:
  /test:
    get:
      summary: UMich Test Endpoint
      security:
      - ApiToken: []
      responses:
        '200':
          description: Successful Test, Authorization Token working
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success, you have access to the Civil Rights Clearinghouse
                      Litigation API!
        '401':
          description: Authentication credentials were not provided.
  /case:
    get:
      summary: Get Case by ID
      parameters:
        - in: query
          name: case_id
          schema: 
            type: integer
          required: true
          description: Numeric case ID
      security:
        - ApiToken: []
      responses:
        '200':
          description: Case successfull retrieved

          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Case'
        '400':
          description: Bad Request No results, key not found, or invalid parameter.
        '401':
          description: Authentication credentials were not provided
components:
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: Authorization
  schemas:
    Case:
      type: object
      description:
        Each endpoint returns a list of cases, where each case is a JSON dictionary.

        Because cases in the Clearinghouse are being added and updated all the time, the case_status of a case is useful for understanding why some fields might be empty. For more information on the different statuses, see case_status.
      properties:
        attorney_orgs:
          type: array
          description: >-
            Organizations that represent the plaintiff. The possible organizations for ```attorney_orgs``` come from a predefined list of public interest organizations. For a full list, including a description and link for each organization see [the Clearinhouse page on attorney organizations](https://clearinghouse.net/attorney-orgs)
          items:
            type: string
        available_documents:
          type: array
          description:
            A list of the types of documents available in the Clearinhouse for this case. For example, if the array includes "Complaint (any)", then there is at least one document that is a complaint for the case. 
            
            ***Any*** ***published*** ***opinion*** - A judicial opinion or oder that has been published in a reporter. For more information on what it means for an opinion to be published, see [Citations](https://api.clearinghouse.net/api-reference/objects/document/citations).
            ***Complaint*** ***(any)*** - A document that contains the facts underlying the lawsuit, the plaintiff's legal claims, and what the plaintiff would like the court to do. A complaint often starts a case.

            ***Injunctive (or Injunctive-like) Relief*** - A document that sets forth how a party will change its behavior. This could be a court order or a settlement.

            ***Monetary Relief*** - A document that awards monetary relief (e.g. damages) to a party.
            ***Non-settlement Outcome*** - A document that provides an outcome to a case that is not a settlement, e.g. a judgment.

            ***Trial Court Docket*** - The trial court docket for the case. This includes both dockets saved as PDF documents and dockets saved as Docket Entry objects. For more about the different ways we save dockets, see [Docket Entry](https://api.clearinghouse.net/api-reference/objects/docket-entry).

            ***U.S. Supreme Court merits opinion*** - A U.S. Supreme Court opinion that contains legal analysis (as opposed to e.g. only denying certiorari).

            ***None of the above*** - We have no documents that fall into the above categories.

          items:
            type: string
        case_defendants:
          type: array
          description:
            An array of Defendant objects. See [Defendant](https://api.clearinghouse.net/api-reference/objects/defendant).
          items:
            $ref: '#/components/schemas/Defendant'
        case_documents:
          type: array
          description:
            A list of document objects. For descriptions of the document fields, see [Document](https://api.clearinghouse.net/api-reference/objects/document).
          items:
            $ref: '#/components/schemas/Document'
        case_dockets:
          type: array
          description:
            An array of Docket objects, representing the dockets associated with the case. See [Docket](https://api.clearinghouse.net/api-reference/objects/docket).
          items:
            $ref: '#/components/schemas/Docket'
        case_resources:
          type: array
          description:
            A list of resource objects. For descriptions of the resource fields, see (Resource)[https://api.clearinghouse.net/api-reference/objects/resource].
          items:
            $ref: '#/components/schemas/Resource'
        case_ongoing:
          type: string
          description: >
            Whether the case is ongoing. Possible values:

            ***Yes*** - There are still things that will happen in the case.

            ***Unknown*** - We aren't sure if anything else will happen.

            ***Perhaps, but long dormant*** - We think there might still be things to happen in the case, but nothing has happened for awhile.

            ***No reason to think so*** - We don't think the case is still ongoing, but we're not sure.

            ***No*** - The case is closed.

            If this field is empty, then check the [case_status](https://api.clearinghouse.net/api-reference/objects/case/case-status#case_status).
        case_status:
          type: string
          description: >
            The case_status indicates where a case is in the process of filling out the summary and metadata.

            Possible values:
              ***Approved*** - The case's summary and metadata are complete.

              ***Coding Complete*** - The case's metadata is complete, but the summary may not have been published yet and is likely awaiting internal review.

              ***In Process (Public)*** - The case has been added to the Clearinghouse, but work on the summary and metadata has not started or is in progress. There may be a temporary 1-2 sentence summary, but it is likely that there is incomplete information.

              The case status can be helpful in interpreting empty values for some fields. For example, if a case's order_start_year is empty and case_status is "In Process (Public)", then it's possible the case did have an injunction (or injunctive-like order) but we have yet to enter in that piece of metadata. On the other hand, if order_start_year is empty, case_ongoing is "No", and case_status is "Approved", then there was no injunction (or injunctive-like order) in the case.
        case_types:
          type: array
          description:
            The case types that apply to the case. Every case has at least one type, and some will have multiple.

            For a full list of possible case types (with descriptions), see [here](https://clearinghouse.net/case-types).
          items:
            type: string
        cause_other:
          type: string
          description:
            The case's cause(s) of action that are not in the Clearinghouse's predefined list.
        causes:
          type: array
          description: >
            The cause(s) of action for the case. If causes is an empty list, then check [cause_other](https://api.clearinghouse.net/api-reference/objects/case/causes-of-action#cause_other) for a cause of action not in the Clearinghouse's predefined list or check [case_status](https://api.clearinghouse.net/api-reference/objects/case/case-status#case_status).

            ***42 U.S.C. § 1981*** - This law prohibits race-based employment discrimination.

            ***42 U.S.C. § 1982*** - This law prohibits race-based discrimination in the sale or rental of property.

            ***42 U.S.C. § 1983*** - This law allows people to bring a lawsuit against persons acting under color of state law for violating federal constitutional or statutory rights.
            ***42 U.S.C. § 1985*** - This law allows people to bring a lawsuit for three types of conspiracy: (1) preventing an officer from performing their duties, (2) obstructing justice by intimidating a party, witness, or juror, and (3) depriving a person's rights or privileges.
            ***Administrative Procedure Act, 5 U.S.C. §§ 551 et seq. *** - This law governs federal administrative agencies and how they propose/establish regulations. It has been called a "constitution" for administrative law.

            ***Adoption Assistance and Child Welfare Act of 1980 (AACWA), 42 U.S.C. §§ 620 et seq.*** - This law's purpose was to (1) establish a program of adoption assistance, (2) strengthen foster care assistance, and (3) improve the child welfare, social services, and aid to families with dependent children programs.

            ***Adoption Assistance Program, 42 U.S.C. §§ 670 et seq.*** - This law gives funding to states to create programs that facilitate the adoption of children who would otherwise remain in long-term foster care.

            ***Age Discrimination in Employment Act (ADEA), 29 U.S.C. §§ 621 et seq.*** - This law prohibits age-based employment discrimination against people age 40 and older.

            ***Alien Tort Claims Act (ATCA), 28 U.S.C. §§ 1350*** - This law allows aliens to bring tort claims alleging violations of international law in federal district court.

            ***All Writs Act, 28 U.S.C. § 1651*** - This law allows courts to issue writs (legal orders).
            
            ***Americans with Disabilities Act (ADA), 42 U.S.C. §§ 12111 et seq.*** - This law prohibits discrimination against people with disabilities in employment, government services, public transit, businesses open to the public, telecommunications, and other activities.

            ***Child Abuse Prevention and Treatment Act, 42 U.S.C. §§ 5101 et seq.*** - This law provides federal funding for programs for prevention, identification, and treatment of child abuse and neglect. It also provides a minimum definition of "child abuse and neglect."

            ***Civil Rights Act of 1957/1960, 52 U.S.C. § 10101 (previously 42 U.S.C. § 1971)*** - The Civil Rights Act of 1957 was the first post-Reconstruction civil rights law. Among other things, it allowed federal prosecutors to obtain injunctions against interfering with the right to vote (particularly for Black Americans). The Civil Rights Act of 1960 was enacted largely to address the shortcomings of the 1957 law.

            ***Civil Rights of Institutionalized Persons Act (CRIPA), 42 U.S.C. § 1997 et seq.*** - This law allows the Attorney General of the U.S. to review practices and conditions in state- and local-run prisons and jails.

            ***Clean Water Act (CWA), 33 U.S.C. § 1319 et seq.*** - This law regulates discharges of pollutants into U.S. waters and quality standards for surface waters.

            ***Clean Air Act, 42 U.S.C. §7401 et seq.*** - This law regulates air pollution. For example, it requires the EPA to adopt national air quality standards that states then must meet.

            ***Community Reinvestment Act, 12 U.S.C. § 2901*** - This law requires federal banking agencies to assess how well depository institutions (e.g. banks) are meeting the needs of their communities, including low- and moderate-income communities.

            ***Criminal Conspiracy to Violate Federal Rights, 18 U.S.C. § 241*** - This law makes it a federal crime to agree with others to violate federal rights while acting in a state capacity.

            ***Criminal Violation of Federal Rights Under Color of Law, 18 U.S.C. § 242*** - This law makes it a federal crime to violate federal rights while acting in a state capacity.

            ***Declaratory Judgment Act, 28 U.S.C. § 2201*** - This law allows courts to grant declaratory judgments as relief, but the law does not independently provide a basis for relief.

            ***Developmental Disabilities Assistance and Bill of Rights Act, 42 U.S.C. § 15001 et seq.*** - This law establishes programs for helping individuals with development disabilities and their families.

            ***Employee Retirement Income Security Act (ERISA), 29 U.S.C. § 1001*** - This law sets standards for most private retirement and health plans to provide protection for individuals on those plans.

            ***Endangered Species Act, 16 U.S.C. § 1531 et seq.*** - This law establishes protections for fish, wildlife, and plants that are listed as threatened or endangered; it also manages those lists of threatened or endangered species.

            ***Equal Credit Opportunity Act (ECOA), 15 U.S.C. § 1691*** - This law prohibits discrimination in activity under the Consumer Credit Protection Act and requires creditors to provide reasons for denying an applicant credit.

            ***Equal Pay Act, 29 U.S.C. § 206(d)*** - This law requires that men and women in the same workplace be given equal pay for equal work.

            ***Ex Parte Young (Federal) or Bivens*** - This combination enables damage suits brought against federal officials (see above).

            ***Ex parte Young (federal or state officials)*** - *Ex parte Young* enables injunctive suits brought against federal officials or state officials (see above).

            ***Fair Credit Reporting Act, 15 U.S.C. § 1681 ("FCRA")*** - This law protects information collected by consumer reporting agencies.

            ***Fair Housing Act/Fair Housing Amendments Act (FHAA), 42 U.S.C. §§ 3601 et seq.*** - This law prohibits discrimination in housing, covering rentals, sales, mortgages, advertising, and other housing-related activities.

            ***Fair Labor Standards Act (FLSA), 29 U.S.C. §§ 201-219*** - This law establishes minimum wage, overtime pay, recordkeeping, and youth employment standards.

            ***False Claims Act, 31 U.S.C. § 3729*** - This law creates a penalty for anyone who knowingly submits, or causes to submit, false claims to the government.

            ***Federal Campaign Finance law, 2 U.S.C. §§ 431 et seq.*** - This law puts limits on campaign contributions to candidates for president and Congress.

            ***Federal Tort Claims Act (FTCA), 28 U.S.C. § 2674*** - This law authorizes damage suits against the federal government for torts of its employees.

            ***FISA Title III Warrant (Physical Search), 50 U.S.C. §§ 1821-1829*** - The Foreign Intelligence Surveillance Act (FISA) provides judicial and congressional oversight of government agencies engaging in foreign intelligence surveillance activities. Title III allows agencies to seek a warrant for physical searches to collect foreign intelligence.

            ***FISA Title IV order (pen register/trap-and-trace), 50 U.S.C. §§ 1841-1846*** - The Foreign Intelligence Surveillance Act (FISA) provides judicial and congressional oversight of government agencies engaging in foreign intelligence surveillance activities. Title IV allows agencies to seek an order authorizing the installation of pen register and trap-and-trace devices to collect foreign intelligence.

            ***FISA Title I Warrant (Electronic Surveillance), 50 U.S.C. §§ 1801-1812*** - The Foreign Intelligence Surveillance Act (FISA) provides judicial and congressional oversight of government agencies engaging in foreign intelligence surveillance activities. Title I allows agencies to seek a warrant for electronic surveillance to collect foreign intelligence.

            ***FISA Title VII targeting order (Sections 702, 703, 704), 50 U.S.C. 1881a, 1881b, 1881c - The Foreign Intelligence Surveillance Act (FISA) provides judicial and congressional oversight of government agencies engaging in foreign intelligence surveillance activities. Section 702 permits foreign intelligence surveillance targeting the communications of non-U.S. persons located abroad without needing to establish probable cause. There is a [special collection](https://clearinghouse.net/search/case/?special_collection=5663) related to this cause of action.

            ***FISA Title V order (PATRIOT Act § 215, business records or other tangible things), 50 U.S.C. §§ 1861-1862*** - The Foreign Intelligence Surveillance Act (FISA) provides judicial and congressional oversight of government agencies engaging in foreign intelligence surveillance activities. Title V allows agencies to seek an order compelling certain businesses to release records in connection with a foreign intelligence investigation by the FBI. Section 215 of the PATRIOT Act (expired in 2020), expanded business records to include "any tangible thing."

            ***Freedom of Information Act (FOIA), 5 U.S.C. § 552*** - This law requires disclosure of documents controlled by federal or state governments (or other public authorities) upon request.

            ***Habeas Corpus, 28 U.S.C. §§ 2241-2253; 2254; 2255*** - This law allows an individual files a civil suit challenging their criminal conviction. Habeas is generally considered an individual's last resort attempt to overturn their sentence.

            ***Help America Vote Act (HAVA), 52 U.S.C. § 20901 et seq (previously 42 U.S.C. § 15301 et seq)*** - This law addressed improvements to voting systems and voter access that were identified following the 2000 election.

            ***Illegal Immigration Reform and Immigrant Responsibility Act of 1996 (IIRIRA)*** - This law provides increased penalties for undocumented immigrants who commit crimes while in the U.S., allows for the deportation for undocumented immigrants who commit a misdemeanor or felony, and provides additional restrictions for asylum applications.

            ***Immigration and Nationality Act (INA), 8 U.S.C. §§ 1101 et seq.*** - This law covers many aspects of immigration law, such as naturalization and refugee assistance.

            ***Immigration Reform and Control Act of 1986 (IRCA)*** - This law prohibits knowingly employing illegal immigrants.

            ***Indv. w/ Disab. Educ. Act (IDEA), Educ. of All Handcpd. Children Act , 20 U.S.C. § 1400*** - These laws ensure that children with disabilities have access to free appropriate education, including special education and related services.

            ***Juvenile Justice Act, 42 U.S.C. § 5672*** - A section of the Juvenile Justice and Delinquency Prevention Act, which supports local and state efforts to prevent delinquency and improve juvenile justice systems.

            ***Mandamus, 28 U.S.C. § 1361*** - This law authorizes federal courts to compel government employees to do their duty.

            ***Medicaid, 42 U.S.C §1396 (Title XIX of the Social Security Act)*** - Medicaid provides health coverage to eligible low-income adults, children, pregnant women, elderly adults and people with disabilities.

            ***Medicare, 42 U.S.C. 1395-1395lll (Title XVIII of the Social Security Act)*** - Medicare provides health coverage to individuals 65 and older, certain younger individuals with disabilities, and those with End-Stage Renal Disease.

            ***Migrant and Seasonal Agricultural Workers Protection Act, 29 U.S.C. §§ 1801-1871*** - This law protects migrant and seasonal agricultural workers by establishing employment standards related to wages, housing, transportation, disclosures and recordkeeping.

            ***National Environmental Protection Act, 42 U.S.C. §§ 4321–4370f*** - This law requires federal agencies to assess the environmental effects of their proposed actions prior to making decisions.

            ***National Labor Relations Act*** - This law provides private-sector employees the fundamental right to seek better working conditions and designation of representation without fear of retaliation.

            ***National Voter Registration Act ("Motor Voter law"), 52 U.S.C. § 20501 (previously 42 U.S.C. § 1973gg)*** - This law requires state governments to offer simplified voter registration processes for any eligible person who applies for or renews a driver's license or applies for public assistance. The law also allows the DOJ to bring civil actions in federal court to enforce its requirements.

            ***Nursing Care Reform Act of 1987/ Omnibus Reconciliation Act*** - The Nursing Home Reform Act was passed as part of the Omnibus Reconciliation Act of 1987, which establishes performance standards for nursing homes.

            ***Protection and Advocacy for Individuals with Mental Illness (PAIMI) Act, 42 U.S.C. § 10801*** - This law protects the rights of individuals with mental illnesses.

            ***Protection and Advocacy of Individual Rights (PAIR), 29 U.S.C. § 794e*** - This law supports the protection and advocacy system in each state to protect the legal and human rights of individuals with disabilities.

            ***Racketeer Influenced and Corrupt Organizations Act (RICO), 18 U.S.C. §§ 1961 et seq.*** - This law authorizes civil lawsuits for acts performed as part of an ongoing criminal organization.

            ***Religious Freedom Rest. Act/Religious Land Use and Inst. Persons Act (RFRA/RLUIPA)*** - RFRA provided a "strict scrutiny" standard for evaluating generally applicable and neutral laws that pose a burden on someone's religious practice. RLUIPA applied the same principle to state and local governments.

            ***Resource Conservation and Recovery Act (RCRA), 42 U.S.C. § 6928 et seq.*** - This law the proper management of hazardous and non-hazardous solid waste.

            ***Section 504 (Rehabilitation Act), 29 U.S.C. § 701*** - This law guarantees certain rights to people with disabilities.

            ***Social Security (Title XX), 42 U.S.C. §§ 1397 et seq.*** - Also known as the Social Services Block Grant, Title XX provides federal funding to states and territories to support social services for vulnerable children, adults, and families.

            ***State Anti-Discrimination Law*** - Any state law (as opposed to a federal law) that prohibits discrimination.

            ***State law*** - Any state law (as opposed to a federal law).

            ***Title IV, Civil Rights Act of 1964, 42 U.S.C. § 2000c et seq.*** - This law prohibits segregation and discrimination in public school and university systems. It authorizes the U.S. Attorney General to bring enforcement actions.

            ***Title IX of the Education Amendments of 1972, 20 U.S.C. §§ 1681 et seq.*** - This law prohibits sex (including pregnancy, sexual orientation, and gender identity) discrimination in any education program or activity receiving federal financial assistance.

            ***Title VI, Civil Rights Act of 1964, 42 U.S.C. § 2000d et seq.*** - This law prohibits discrimination by recipients of federal financial assistance. It authorizes federal agencies to conduct investigations and (in some cases) private individuals to bring lawsuits.

            ***Title VII (including PDA), 42 U.S.C. § 2000e*** - This law prohibits discrimination in employment on the basis of "race, color, religion, sex, or national origin." It authorizes lawsuits brought by the Equal Employment Opportunity Commission (EEOC), the DOJ, and private individuals.

            ***Trafficking Victims Protection Act (TVPA), 18 U.S.C. § 1589*** - This law prohibits human trafficking and provides for protection of human trafficking victims.

            ***Uniformed and Overseas Citizens Absentia Voting Act, 52 U.S.C. § 20301 (previously 42 U.S.C. § 1973ff et seq.)*** - This law requires states and territories to allow absentee voting for members of the U.S. military, their families, and U.S. citizens living abroad.

            ***Uniformed Services Employment and Reemployment Rights Act (USERRA), 38 U.S.C. § 4301*** - This law prohibits employment discrimination against members of the U.S. military and veterans on the basis of their service.

            ***Violent Crime and Law Enforcement Act, 34 U.S.C. § 12601 (previously 42 U.S.C. § 14141)*** - This law addresses crime and law enforcement. Among many other things, it defines and classifies various crimes.

            ***Voting Accessibility law, 52 U.S.C. § 20102 (previously 42 U.S.C. §§ 1973ee et seq.)*** - This law requires accessible polling places in federal elections for elderly individuals and people with disabilities (or alternative means of voting).

            ***Voting Rights Act, section 203 (language minority provision), 52 U.S.C. § 10503 (previously 42 U.S.C. § 1973aa-1a)*** - This law requires that all election information that is available in English also be available in the language of specific minority communities.

            ***Voting Rights Act, section 208 (assistance for disabled persons), 52 U.S.C. § 10508 (previously 42 U.S.C. § 1973aa-6)*** - This law provides for voters who need assistance to vote by reason of blindness, disability, or inability to read or write.

            ***Voting Rights Act, section 2, 52 U.S.C. § 10301 (previously 42 U.S.C. § 1973)*** - This law prohibits voting practices and procedures that discriminate on the basis of race, color or membership in a language minority group.

            ***Voting Rights Act, section 5, 52 U.S.C. § 10304 (previously 42 U.S.C. § 1973c)*** - This law provides a preclearance requirement whereby changes in voting practices and procedures in certain locations must be found to have no discriminatory purpose or effect before those changes can be put into place.

            ***Voting Rights Act, unspecified, 52 U.S.C. § 10301 et seq (previously 42 U.S.C § 1973 et seq.)*** - The Voting Rights Act protects the right to vote for minority populations (and was originally enacted to overcome barriers for Black Americans to vote). This option is a catch-all option for provisions that don't have their own option (above).
          items:
            type: string
        class_action_granted:
          type: string
          description:
            Whether the court granted the class action. For more information on class actions, see [class_action_sought](https://api.clearinghouse.net/api-reference/objects/case/parties#class_action_sought).

            ***null*** - This field has not been set yet. This is likely because the case's metadata is not complete – see [case_status](https://api.clearinghouse.net/api-reference/objects/case/case-status#case_status).

            ***Granted*** - The court granted the class action. This includes certifying the class for litigation and for just settlement.

            ***Denied*** - The court denied the class action, and so no class was certified.
            
            ***Pending*** - The plaintiffs sought a class action, but the court has not ruled on it (yet).

            ***Withdrawn*** - The plaintiffs sought a class action, but they withdrew the motion before the court ruled on it.

            ***Mooted before ruling*** - The plaintiffs sought a class action, but before the court could rule on it, something happened so as to render that decision irrelevant.

            ***Not sought*** - The plaintiffs did not seek a class action.

            ***Unknown*** - We don't know if the court granted a class action.

        class_action_sought:
          type: string
          description:
            Whether a party sought a class action lawsuit. A class action is a type of lawsuit where one or more plaintiffs can sue on behalf of a larger group, known as a "class." As part of a class action, the plaintiffs must ask the court to "certify" a class. In rare cases, this may apply to defendants; that is, the court may certify a class for the defendants.

            ***null*** - This field has not been set yet. This is likely because the case's metadata is not complete – see [case_status](https://api.clearinghouse.net/api-reference/objects/case/case-status#case_status).

            ***Yes*** - The plaintiffs sought a class action.

            ***No*** - The plaintiffs did not seek a class action.

            ***Unknown*** - We don't know if the plaintiffs sought a class action.

        closing_year:
          type: integer
          description: 
            The last year of any activity in a case, in the format YYYY. If terminating_date is not empty, then closing_year should equal the year of terminating_date.

            See [terminating_date](https://api.clearinghouse.net/api-reference/objects/case/key-dates#terminating_date) for more information.
        court:
          type: string
          description: > 
            The court where a case starts. If a case entry concerns litigation that happens in multiple courts (e.g. appeals, consolidations), court remains the first court relevant to the case.

            There are several types of courts:
              ***no court*** - This is for cases where no court was involved, e.g. private out-of-court settlements, U.S. Department of Justice investigations. Ex: No Court

              ***state courts*** - Courts part of a state's judicial system. If a case's court is a state court, it must be a court associated with state. Because each state has its own way of organizing courts, we have three generic options for each state: trial court, appellate court, and supreme court. Trial courts are the courts where cases typically start, appellate courts hear cases on appeal, and the supreme court is the highest court in the state. Note: These do NOT necessarily correspond to the names of the courts. For example, "New York state supreme court" refers to the New York Court of Appeals, while "New York state trial court" refers to the New York Supreme Courts. Ex. Michigan state trial court, Ohio state appellate court, New York state supreme court

                ***U.S. district courts*** - The trial courts of the U.S. federal judicial system. Each judicial district covers one U.S. state or one portion of a state. There is at least one judicial district for each state, the District of Columbia, Puerto Rico, Guam, the Northern Mariana Islands, and the Virgin Islands. If a case's court is a U.S. district court, it must be a court associated with state. Ex. District of Massachusetts, District of Columbia, Western District of Washington, Northern District of Illinois, District Court for the Northern Mariana Islands, District Court of the Virgin Islands

                ***U.S. appellate courts*** - The intermediate courts of the U.S. federal judicial system. The courts of appeal are divided into 11 numbered circuits, each of which covers multiple states. In addition, there are circuits for the District of Columbia and the Federal Circuit. If a case's court is a U.S. appellate court, it must be a court associated with state. Note: The space between "U." and "S." is a typo that may be fixed in a future update. Ex. U. S. Court of Appeals for the First Circuit, U. S. Court of Appeals for the District of Columbia Circuit, U. S. Court of Appeals for the Federal Circuit

                ***U.S. Supreme Court*** - The highest court in the U.S. federal judicial system. Ex: Supreme Court of the United States

                ***specialty courts (FISA)*** - The Foreign Intelligence Surveillance Act of 1978 (FISA) established these courts to oversee government requests for foreign intelligence surveillance warrants by federal law enforcement agencies.

                ***specialty courts (international trade)*** - This court is for civil cases arising out of U.S. customs and international trade laws.

                ***specialty courts (veterans claims)*** - This court receives appeals of decisions by the Board of Veterans' Appeals. This court is part of the U.S. federal judicial system and not part of the Department of Veteran Affairs.

                ***specialty courts (multidistrict litigation)*** - Known informally as "the MDL Panel," the JPML oversees the process of transferring similar cases in different districts in order to coordinate or consolidate pretrial proceedings.

        custom_issues:
          type: array
          description:
            Case issues that aren't part of the Clearinghouse's predefined choices. For examples of custom issues that have been added to the Clearinghouse, see [Case Custom Issue](https://api.clearinghouse.net/api-reference/endpoints/issues/case-custom-issue).
          items:
            type: string
        defendant_payment:
          type: string
          description: >
            How much the defendants paid as a result of the lawsuit. This is the combined amount for all damages, attorneys' fees, and any other costs. For cases where many payments happen over the course of some period of time (especially attorneys' fees), this value may not include all of the payments.

            The format of this string varies, but here are some examples of how this string might be formatted:

            5000

            5000.00

            5,000

            5,000.00

            $5,000

            $5,000.00

            In addition, sometimes this string contains text when we do not have an exact number. For example:

            redacted from court transcript

            roughly $1,000,000

             up to $1 billion

             If this string is empty, there are a few possible reasons: we do not know how much the defendants paid, the defendants did not pay anything, or the case is still going. Also the case's metadata may not be complete – see case_status.
        docket_status:
          type: string
          description:
            The status of the main docket for the case.

            ***null*** - This field has not been set yet. This is likely because the case's metadata is not complete – see [case_status](https://api.clearinghouse.net/api-reference/objects/case/case-status#case_status).

            ***Complete as of retrieval date*** - The docket is complete up to the date it was last retrieved. The docket entries may be present as [Docket Entry](https://api.clearinghouse.net/api-reference/objects/docket-entry) objects or as one of the case's document.

            ***Incomplete*** - We have only part of the docket.

            ***None*** - We have no docket for this case. This might be because there is no docket or because we do not have access to the docket.

        filing_date:
          type: string
          description:
            The date the case was filed, in the format "YYYY-MM-DD". This is generally the date of the (first) complaint.

            If filing_date is empty, we do not know when the case was originally filed or the case was not filed (see [never_filed](https://api.clearinghouse.net/api-reference/objects/case/key-dates#never_filed)). (Also check the [case_status](https://api.clearinghouse.net/api-reference/objects/case/case-status#case_status).)

        filing_year:
          type: integer
          description:
            The year the case was filed, in the format YYYY. If filing_date is not empty, then filing_year should equal the year of filing_date.

            See [filing_date](https://api.clearinghouse.net/api-reference/objects/case/key-dates#filing_date) for more information.
        id:
          description:
            The case's ID. Each case's ID is unique.
          type: integer
        injuction_duration:
          type: integer
          description:
            The duration, in months, that an injunction (preliminary or permanent) or temporary restraining order lasted.

            If injunction_duration is empty, it may be because there was no injunction in the case or because the injunction is ongoing (and has no end date yet).
        issues:
          type: array
          description: > 
            An array of issues. Issues are strings that are categorized into buckets based on their relation to others. Each of the following subheaders (for example, "Reproductive rights") is one such bucket, and that is reflected in the strings themselves.

            For example, "Reproductive rights: Admitting privileges" corresponds to the issue "Admitting privileges" found within the "Reproductive rights" bucket. For a full list of issues see [issues](https://api.clearinghouse.net/api-reference/objects/case/issues)
          items:
            type: string
        last_checked_date:
          type: string
          description:
            The date that the case was last checked – i.e. the case is up to date as of the last_checked_date. This string is in the format "YYYY-MM-DDTHH:MM:ssTZ".
        main_docket:
          $ref: '#/components/schemas/Docket'
          description:
            A Docket object that represents the main docket of the case. This is typically the docket that contains the first complaint filed in a case. See [Docket](https://api.clearinghouse.net/api-reference/objects/docket).
        name:
          type: string
          description:
            The name of the case. Although a case's name may change as the case progresses, we generally do not update this field.
        never_filed:
          type: boolean
          description:
            If the case was never filed, this field is True.

            If never_filed is True, both filing_date and filing_year should be empty.
        non_docket_case_number:
          type: string
          description:
            A case number associated with the case that is not a docket number. This is often used for U.S. Department of Justice (DOJ) and Equal Employment Opportunity Commission (EEOC) investigations.
        non_docket_case_number_type:
          type: string
          description: > 
            ***null*** - There is no non-docket case number.
            ***DJ*** - U.S. Department of Justice
            ***EEOC*** - U.S. Equal Employment Opportunity Commission
            ***OCR*** - U.S. Department of Education, Office of Civil Rights
            ***other*** - The non-docket case number comes from an organization that is not in this list. See [non_docket_case_number_type_other](https://api.clearinghouse.net/api-reference/objects/case/dockets#non_docket_case_number_type_other).
        non_docket_case_number_type_other:
          type: string
          description:
            The non-docket case number's type, if non_docket_case_number_type is "other". Otherwise, this will be an empty string.
        order_end_year:
          type: integer
          description:
            The last year of an injunction or injunctive-like relief, in the format YYYY. This applies only if there was an injunction or injunctive-like relief in the case.

            If an injunction is a permanent injunction, then there will be no order_end_year (and [permanent_injunction](https://api.clearinghouse.net/api-reference/objects/case/key-dates#permanent_injunction) will be true). If the injunction was still in effect at the time the case's metadata was updated, then there order_end_year will be empty.
        order_start_year:
          type: integer
          description:
            The first year of an injunction or injunctive-like relief, in the format YYYY. This applies only if there was an injunction or injunctive-like relief in the case.
        permanent_injuction:
          type: boolean
          description:
            Whether the injunction or injunctive-like relief was set to last forever (i.e. there is no end date). An injunction is typically a court order requiring a party to do (or stop doing) a specific action.

            If permanent_injunction is true, then order_end_year will both be empty.
        plaintiff_description:
          type: string
          description:
            A description of the people or entities that brought the lawsuit. We generally avoid including names of individuals (e.g. "an incarcerated person"), but we do sometimes include organization names (e.g. "U.S. Department of Justice").

            If the plaintiffs sought a class action (see [class_action_sought](https://api.clearinghouse.net/api-reference/objects/case/parties#class_action_sought)), then plaintiff_description is typically the class definition (abridged if necessary).
        prevailing_party:
          type: string
          description: > 
            Which party "won" the case. This doesn't necessarily have to be by a formal judgment; we also look at what relief has been awarded, whether through court orders or settlements, to determine which party prevailed.

            ***Plaintiff*** - The plaintiff(s) obtained any sort of relief, even if minor.
            ***Defendant*** - The defendant(s) prevailed.
            ***Mixed*** - Both sides received some of what they were hoping for.
            ***None Yet/None*** - Neither side prevailed or there is no outcome yet.
            ***Unknown*** - We don't know which side prevailed.

            If there has been a district court judgment but the case is pending appeal, prevailing_party reflects who won in district court.

            If this field is an empty array, then the case's metadata is likely not complete – see [case_status](https://api.clearinghouse.net/api-reference/objects/case/case-status#case_status).
        pro_se_status:
          type: string
          description:
            Whether the case had a plaintiff that was pro se. A plaintiff without a lawyer is known as a pro se plaintiff.

            ***null*** - This field has not been set yet. This is likely because the case's metadata is not complete – see [case_status](https://api.clearinghouse.net/api-reference/objects/case/case-status#case_status).
            ***Yes*** - The plaintiff was pro se, i.e. without a lawyer.
            ***No*** - The plaintiff was not pro se, i.e. represented by a lawyer.
            ***Unknown*** - We don't know if the plaintiff was represented by a lawyer.

        public_interest_lawyer:
          type: string
          description:
            Whether any lawyer representing one of the parties is a public interest lawyer. "Public interest" encompasses many things, and is generally thought to concern the protection of individual rights, advancement of justice, and improvements for the good of the general public. Government lawyers count if the government is the plaintiff, but not if the government is the defendant.

            ***null*** - This field has not been set yet. This is likely because the case's metadata is not complete – see [case_status](https://api.clearinghouse.net/api-reference/objects/case/case-status#case_status).
            ***Yes*** - At least one lawyer representing one of the parties is a public interest lawyer.
            ***No*** - No lawyer representing a party is a public interest lawyer.
            ***Unknown*** - We don't know if the lawyers are public interest lawyers.

            If there are any organizations in the [attorney_orgs](https://api.clearinghouse.net/api-reference/objects/case/parties#attorney_orgs) array, then public_interest_lawyer will be "Yes".
        relief_natures:
          type: array
          description:
            What kind of relief was awarded in the case. (If a type of relief was sought but denied, it is not included here.)
            ***Attorneys fees*** - Money awarded to compensate the attorneys on the other side.
            ***Declaratory Judgment*** - A judgment that states the court's authoritative opinion. Unlike an injunction (below), a declaratory judgment does not require a party to take action or pay money.

            ***Injunction/Injunctive-like Settlement*** - An injunction is a court order that requires a party to stop or start doing something. An injunctive-like settlement is for when the case settles before an injunction can be issued, but the terms of the settlement require a party to stop or start doing something (likely what the plaintiffs sought an injunction for in the first place).

            ***Criminal Conviction*** - In a criminal case, a final judgment on a verdict of guilty, a plea of guilty, or a plea of nolo contendere (where a criminal defendant does not accept or deny responsibility for the charges but agrees to accept punishment).

            ***Damages*** - Money awarded in the case. This can include compensatory damages (to compensate the victim) and punitive damages (to punish the offending party).

            ***Document/information produced*** - Where the defendant(s) provided the requested documents or information. This is common with Freedom of Information Act (FOIA) cases.

            ***Habeas relief*** - An individual successfully challenged their criminal conviction and imprisonment in a civil suit. Habeas is generally considered an individual's last resort attempt to overturn their sentence.

            ***Preliminary injunction/Temp. restraining order*** - An order issued before the final judgment of the case that requires a party to stop or start doing something.

            ***Warrant/Order allowing surveillance*** - In cases before the Foreign Intelligence Surveillance Court (FISA Court), a warrant or order for electronic surveillance of someone suspected of spying with or for a foreign government.

            ***None*** - No relief was awarded in the case.

            ***None yet*** - There could still be relief awarded in the case, but the case is ongoing.

            ***Unknown*** - We do not know what relief was awarded in the case.

            If this field is an empty array, then the case's metadata is likely not complete – see [case_status](https://api.clearinghouse.net/api-reference/objects/case/case-status#case_status).
          items:
            type: string
        relief_nature_other:
          type: string
          description:
            Types of relief awarded that are not in the Clearinghouse's predefined list. It is rare for a case to have something for this field; in most cases, relief_nature_other will be an empty string.
        relief_sources:
          type: array
          description:
            The source of the relief awarded in the case. The values "None", "None yet", and "Unknown" correspond to the same options under [relief_natures](https://api.clearinghouse.net/api-reference/objects/case/outcome#relief_natures).

            ***Litigation*** - The relief was ordered through a court order.
            ***Settlement*** - The relief was a result of a settlement agreement.
            ***None*** - No relief was awarded in the case.
            ***None yet*** - There could still be relief awarded in the case, but the case is ongoing.
            ***Unknown*** - We do not know what relief was awarded in the case.
            If this field is an empty array, then the case's metadata is likely not complete – see [case_status](https://api.clearinghouse.net/api-reference/objects/case/case-status#case_status).
          items:
            type: string
        settlement_agreement:
          type: array
          description:
            The form of the settlement agreement, if there is one in the case.

            ***Conditional Dismissal*** - When the plaintiff agrees to dismiss the case if and only if the defendant complies with some settlement terms. If the defendant fails to live up to those terms, the result is the reinstitution of the case.

            ***Confession of Judgment*** - When the defendant agrees to liability. This is very unusual.

            ***Court Approved Settlement or Consent Decree*** - If the parties agree to a settlement, and the court issues an order approving it. This is very common.

            ***Private Settlement Agreement*** - If the parties agree to a settlement that is not approved by the court. The settlement terms are often private.

            ***Voluntary Dismissal*** - When the plaintiff movees to dismiss the case, and the court grants the motion. This is often done by agreement when the parties settle for monetary damages but no injunction.

            If there is no settlement agreement in the case, then this field will be an empty array.
          items:
            type: string
        settlement_judgment_date:
          description:
            The date of the first judgment or settlement in the case, in the format "YYYY-MM-DD".

            If settlement_judgment_date is empty, then there may not be a judgment or settlement in the case (yet). (Also check the [case_status](https://api.clearinghouse.net/api-reference/objects/case/case-status#case_status).)
          type: string
        settlement_judgment_year:
          description:
            The year of the first judgment or settlement in the case, in the format YYYY. If settlement_judgment_date is not empty, then settlement_judgment_year should equal the year of settlement_judgment_date.

            See [settlement_judgment_date](https://api.clearinghouse.net/api-reference/objects/case/key-dates#settlement_judgment_date) for more information.
          type: integer
        special_collections:
          type: array
          description:
            The special collections that a case belongs to. Special collections are pre-tagged groupings of cases that we think might be of particular interest. If the case does not belong to any special collections, special_collections is an empty array.

            For a full list of possible special collections (with descriptions), see [here](https://clearinghouse.net/collections).
          items:
            type: string
        state:
          description:
            The state in which the case happens. This is typically a U.S. state, but other possible values for this field are U.S. territories, the District of Columbia, "- International -", "- United States (national) -", and "Other".

            Typically cases occur all in one state, but if a case entry concerns litigation that happens in multiple states, state will be the main state of the case. In cases where there are appeals to courts that cover multiple states (e.g. the Supreme Court of the United States), state is the state where the case originated.
          type: string
        summary:
          description:
            A summary of the case, formatted in HTML.
          type: string
        summary_published_date:
          description:
            The date and time that the summary was published, in the format "YYYY-MM-DDTHH:MM:[ss[.uuuuuu]][TZ]". The time zone (TZ) will be either -5:00 for Eastern Standard Time or -4:00 for Eastern Daylight Time.
          type: string
        summary_short:
          description:
            An abridged summary of the case.
          type: string
        summary_tiny:
          description:
            A 1-2 sentence summary of the case. We use tiny summaries to post tweets on the [Clearinghouse's Twitter account](https://twitter.com/civilrightsch) (where we append a link to the case), so tiny summaries are limited to 257 characters.
          type: string
        terminating_date:
          description:
            The last date of any activity in a case, in the format "YYYY-MM-DD". "Any activity" includes things like ongoing injunctions, monitoring, waiting for status reports, and other events that might happen after a judgment has been issued or the parties reach a settlement.

            If terminating_date is empty, then the case has not ended yet or we do not know when the case ended. (Also check the [case_status](https://api.clearinghouse.net/api-reference/objects/case/case-status#case_status).)

            If terminating_date is not empty, then case_ongoing should be either "No" or "No reason to think so." See [case_ongoing](https://api.clearinghouse.net/api-reference/objects/case/case-details#case_ongoing) for more information.
          type: string
        clearinghouse_link:
          description:
            The URL to the case on the [Clearinghouse site](https://clearinghouse.net/), which takes the format "clearinghouse.net/case/{id}".
          type: string
        is_action:
          type: boolean
        plaintiff_type:
          description:
            Issues that fall under [Plaintiff Type](https://api.clearinghouse.net/api-reference/objects/case/issues#plaintiff-type). [Plaintiff Type](https://api.clearinghouse.net/api-reference/objects/case/issues#plaintiff-type) issues appear both in this array and in the issues array. For more information, see [Plaintiff Type](https://api.clearinghouse.net/api-reference/objects/case/issues#plaintiff-type).
          type: array
          items:
            type: object
            properties:
              value: 
                type: string
        defendant_type:
          description:
            Issues that fall under [Defendant-type](https://api.clearinghouse.net/api-reference/objects/case/issues#defendant-type). [Defendant-type](https://api.clearinghouse.net/api-reference/objects/case/issues#defendant-type) issues appear both in this array and in the issues array. For more information, see [Defendant-type](https://api.clearinghouse.net/api-reference/objects/case/issues#defendant-type).
          type: array
          items:
            type: object
            properties:
              value: 
                type: string
        facility_type:
          type: array
          description:
            Issues that fall under [Type of Facility](https://api.clearinghouse.net/api-reference/objects/case/issues#type-of-facility). [Type of Facility](https://api.clearinghouse.net/api-reference/objects/case/issues#type-of-facility) issues appear both in this array and in the issues array. For more information, see [Type of Facility](https://api.clearinghouse.net/api-reference/objects/case/issues#type-of-facility).
          items:
            type: object
            properties:
              value: 
                type: string
        constitutional_clause:
          type: array
          description:
            Issues that fall under [Constitutional Clause](https://api.clearinghouse.net/api-reference/objects/case/issues#constitutional-clause). [Constitutional Clause](https://api.clearinghouse.net/api-reference/objects/case/issues#constitutional-clause) issues appear both in this array and in the issues array. For more information, see [Constitutional Clause](https://api.clearinghouse.net/api-reference/objects/case/issues#constitutional-clause).
          items:
            type: object
            properties:
              value: 
                type: string
        special_case_type:
          description:
            Issues that fall under [Special Case Type](https://api.clearinghouse.net/api-reference/objects/case/issues#special-case-type). [Special Case Type](https://api.clearinghouse.net/api-reference/objects/case/issues#special-case-type) issues appear both in this array and in the issues array. For more information, see [Special Case Type](https://api.clearinghouse.net/api-reference/objects/case/issues#special-case-type).
          type: array
          items:
            type: object
            properties:
              value: 
                type: string
        content_of_injunction:
          type: array
          description:
            Issues that fall under [Content of Injunction](https://api.clearinghouse.net/api-reference/objects/case/issues#content-of-injunction). [Content of Injunction](https://api.clearinghouse.net/api-reference/objects/case/issues#content-of-injunction) issues appear both in this array and in the issues array. For more information, see [Content of Injunction](https://api.clearinghouse.net/api-reference/objects/case/issues#content-of-injunction).
          items:
            type: object
            properties:
              value: 
                type: string
    Defendant:
      type: object
      description:
        When adding entries for defendants, we record only the "real party in interest" – that is, who is really being sued. This may be different from the names listed on a complaint, as sometimes a suit will be filed naming an individual who represents or works for a government agency, but it’s the agency that defends the lawsuit, obeys the injunction, and pays the damages.

        For example, if a plaintiff sues a state, the state's governor, and the state's attorney general, we usually would record only the state as a defendant.
      properties:
        name:
          type: string
          description:
            The name of the "real party in interest" – typically the institution being sued or the institution represented by the individuals being sued. Sometimes, this might also be the title of a position that a person holds. In very rare cases, name will refer to an actual person.
        institution:
          type: string
          description:
            The institution or agency that took the action that formed the basis of the lawsuit. If this is the same as name, then institution should be an empty string.
        institution_city:
          type: string
          description:
            The city of the defendant's location. This is not where the challenged action(s) took place. If the defendant is a state or federal entity (i.e. applies to the whole state or country), then institution_city is an empty string.
        institution_county:
          type: string
          description: > 
            The county of the defendant's location. This is not where the challenged action(s) took place. The choices for this field are limited to the counties in the case's state. If the defendant is a state or federal entity (i.e. applies to the whole state or country), then institution_county is null.
        institution_alt_state:
          type: string
          description: > 
            The state of the defendant's location if the state is different from the case's state (see [state](https://api.clearinghouse.net/api-reference/objects/case/case-details#state)). If the defendant's state is the same as the case's state is null. If the defendant is a federal entity, then institution_alt_state is "- United States (national) -". Similarly, if the defendant is an international entity, then institution_alt_state is "- International -".

            For a full list of possible states, see [state](https://api.clearinghouse.net/api-reference/objects/case/case-details#state).
        defendant_level:
          type: string
          description: >
            The type or category of the defendant in terms of what the defendant governs.

            ***null*** - The defendant's level does not fit within one of the Clearinghouse's predefined choices. See [defendant_level_other-not-in-api-yet](https://api.clearinghouse.net/api-reference/objects/defendant#defendant_level_other-not-in-api-yet).
            ***City*** - A city or city-level entity.
            ***County*** - A county or county-level entity.
            ***Federal*** - A country or federal entity.
            ***Non-profit or advocacy*** - A nonprofit or advocacy organization that is not a governmental body.
            ***Political Party*** - A political party.
            ***Private Entity/Person*** - A private entity or individual person.
            ***Regional*** - An entity associated with a region that is not a city, county, state, or country.
            ***School District*** - A public school district.
            ***State*** - A state or state entity.
            ***Tribe*** - An indigenous tribe.
            ***Union*** - A labor union.

            Note: This is different from [the "Defendant-type" case issue](https://api.clearinghouse.net/api-reference/objects/case/issues#defendant-type).
        defendant_level_other:
          type: string
          description: >
            The type or category of the defendant in terms of what the defendant governs if it does not fall under one of the options for [defendent_level](https://api.clearinghouse.net/api-reference/objects/defendant#defendent_level).

            Note: This is different from [the "Defendant-type" case issue](https://api.clearinghouse.net/api-reference/objects/defendant#defendent_level).

    Docket:
      description: >
        A docket lists, in chronological order, every document filed with the court in a case; this also serves as a timeline of events. A docket also includes the judge(s), parties, and lawyers in a case.

        A docket number is the individual identifier that a court gives to a case. (Some courts use different terms, but the idea is the same.) Docket numbers usually include some or all of the following information, though it can appear in different orders or formats:

        - The year the case was filed

        - The type of case (civil, criminal, etc.)

        - A unique serial number for the case

        - Information on which courthouse or jurisdiction it was filed in

        We collect complete docket numbers as they appear on case documents. We also collect the information it contains (year, case type, etc.) in separate fields.

        Our system is designed around the federal courts' docketing conventions. The fields on our website correspond to the normal format for federal court docket number: 1:18-cv-528 (office:year-case type-filing number).
      type: object
      properties:
        id:
          type: integer
          description:
            The ID of the docket. This is different from the case ID and unique to the docket.
        docket_number_manual:
          type: string
          description:
            The complete docket number, as it appears on case documents.
        docket_office_number:
          type: string
          description:
            For federal courts, the courthouse or division where the case was filed. This will always be a one-digit number.
        docket_year:
          type: integer
          description:
            The year the case was filed. We collect complete years (e.g. 2021, not 21).
        docket_case_type:
          type: string
          description:
            Usually a 2-character code corresponding to a particular type of case (e.g. "cv" = civil; "cr" = criminal).

            Not all dockets will have a case type code.
        docket_filing_number:
          type: integer
          description:
            The unique portion of a docket number. The filing number is generally unique within a given court.
        court:
          description:
            The court where the docket exists. The options are the same as the court field for cases – see [court](https://api.clearinghouse.net/api-reference/objects/case/case-details#court).
          type: string
        state:
          description:
            The state where the docket's court is located in.
          type: string
        is_main_docket:
          description:
            If true, the docket is the main docket for the case. This is typically the trial docket where the case was first filed. On the Clearinghouse site, the main docket is displayed first.
          type: boolean
        recap_link:
          description:
            A link to a federal court docket in the RECAP Archive. The [RECAP Archive](https://www.courtlistener.com/recap) is a free, searchable collection of millions of federal court documents and dockets.
          type: string
        docket_entries:
          type: array
          description: >
            A list of docket entries. See [Docket Entry](https://api.clearinghouse.net/api-reference/objects/docket-entry).

            Note: Many dockets are available only as a PDF, rather than as a parsed array of docket entries. In those cases, the docket is saved as a document (see [Documents](https://api.clearinghouse.net/api-reference/objects/case/documents)).
          items:
            $ref: '#/components/schemas/DocketEntry'
        scales_html:
          type: string
          description:
            A URL to an HTML file that is a saved version of the PACER HTML header. PACER, which stands for Public Access to Court Electronic Records, is the federal government's electronic system for providing access to federal court records.
    DocketEntry:
      type: object
      description: >
        A docket lists, in chronological order, every document filed with the court in a case. Each document and its accompanying information is a "docket entry." For more information about dockets, see [Docket](https://api.clearinghouse.net/api-reference/objects/docket).

        Dockets can be saved one of two ways in the Clearinghouse: (1) as parsed docket entries, or (2) as a PDF. This docket entry object is for parsed docket entries. For PDF dockets, the docket is saved as a document (see [Documents](https://api.clearinghouse.net/api-reference/objects/case/documents)).

        For federal docket entries from RECAP, some entries might be taken from PACER's RSS feed. These "RSS" entries have incomplete information.
      properties:
        row_number:
          type: integer
          description:
            The position of the docket entry within the docket, where the docket is a zero-indexed array of entries.
        entry_number:
          type: string
          description: >
            For dockets that are numbered by the court, the number assigned to the docket entry. Unlike row_number, these numbers start with 1.

            In federal court, this is known as an "ECF number," and every federal docket entry should have an ECF number. If the docket entry is part of a federal docket but entry_number is null, then the docket entry is likely an "RSS entry" (see above).

            For state courts, states vary as to whether they assign numbers to docket entries, so whether entry_number is null depends on the state.
        date_filled:
          type: string
          description:
            The date of the docket entry, i.e. when the document was filed. This is in the format "YYYY-MM-DDTHH:MM:ssTZ".
        description:
          type: string
          description:
            The text that describes the document in a docket entry.

            For RSS entries in federal dockets (see above), this will be an abbreviated version of the actual docket entry description (often just the type of document).
        attachments:
          type: array
          description: >
            Sometimes documents are attached to another document in PACER/RECAP. If so, the attached documents ("attachments") are gathered in an array associated with a docket entry.

            Attachments have the following fields:
            ***recap_ip*** - The ID number given by RECAP.
            ***pacer_url*** - The URL to the document in PACER.
            ***description*** - A short description of the document. Unlike a docket entry's overall description, an attachment description tends to be very short.
            ***attachment_number*** - Starting from 1, position of the attachment among the attachments for the docket entry.

          items: 
            type: object
            properties:
              recap_id:
                type: integer
              pacer_url:
                type: string
              description:
                type: string
              attachment_number:
                type: integer
        url:
          type: string
          description:
            A URL to a page that embeds the document. For federal cases, this is a link to a [CourtListener (RECAP)](https://www.courtlistener.com/) page. For state cases, this is a link to a [Docket Alarm](https://www.docketalarm.com/) page.

            For RSS entries in federal dockets (see above), this link is simply "https://www.courtlistener.com".
        recap_pdf_url:
          type: string
          description:
            A URL to the document (i.e. the PDF itself). If there is no such URL available or if this an RSS entry in a federal docket (see above), this field is null.
        pacer_doc_id:
          type: string
          description: >
            The ID of the document in PACER. PACER, which stands for Public Access to Court Electronic Records, is the federal government's electronic system for providing access to federal court records.

            For RSS entries in federal dockets (see above), this field is null.
        id:
          type: integer
          description:
            The ID of the docket entry in the Clearinghouse.
    Document:
      type: object
      description:
        A case will contain many more documents than are uploaded to the Clearinghouse. We generally add documents that provide additional information that help someone understand what is going on in the case, such as complaints, opinions, orders, and settlement agreements. We also add documents that we find particularly interesting, such as letters between lawyers about how to litigate the case. Particularly interesting documents that apply more broadly, such as memoranda explaining a complex litigation strategy involving multiple cases, are uploaded as resources (see [Resource](https://api.clearinghouse.net/api-reference/objects/resource)).
      properties:
        date:
          description:
            The document's date in the format "YYYY-MM-DD". This is usually when the document was filed in court, signed, or sent.
          type: string
        date_is_estimate:
          type: boolean
          description:
            If true, it indicates that date information is an estimate.
        date_not_available:
          type: boolean
          description:
            If true, it indicates that we don't have any date information for a document.
        description:
          type: string
          description:
            A brief description of the document. We usually use this for documents that don't have formal titles (like letters).
        document_source:
          type: string
          description: >
            Where we originally sourced a document. There are lots of options, but some of the most common are:

            ***PACER*** - The federal court system's online document filing website
            ***RECAP*** - A website run by a non-profit organization which scrapes documents from PACER and makes them availalble for free
            ***Westlaw, LexisNexis*** - A commercial database of legal materials used by many lawyers
            ***U.S. Department of Justice*** - The federal agency responsible for enforcing many civil rights laws
            ***Papers of (various individuals)*** - Personal papers of an attorney, judge, or other civil rights figure that have been shared with the Clearinghouse
        document_type:
          type: string
          description: > 
            What kind of thing the document is. We have a good number of options, some of which are more common than others. Most of the document types are specific kinds of court filings (e.g. "Complaint"), while others are more general (e.g. "Correspondence").

            ***Complaint*** - A document that contains the facts underlying the lawsuit, the plaintiff's legal claims, and what the plaintiff would like the court to do. A complaint often starts a case.
            ***Opinion/Order*** - A document where a judge or court make a decision in a case and (sometimes) explain their reasoning. These can be very short or very long, depending on the amount of legal reasoning.
            ***Pleading/Motion/Brief*** - This is a catch-all category for documents filed by lawyers in court.
            ***Monitor/Expert/Receiver Report*** - Monitors, experts, and receivers are all people with special expertise (e.g. doctors) who give the court their professional opinion. Often they create written reports on their findings.
            ***Settlement*** - An agreement between the parties of the lawsuit to end the case. It might include a promise to pay money or to change actions.
            ***Docket*** - A court's record of everything that happened in a case, usually organized by date.
            ***Correspondence*** - A letter NOT filed in court.
            ***Declaration/Affidavit*** - A legal document where somebody swears that facts are true, under penalty of perjury.
            ***Discovery/FOIA Material*** - Discovery: the evidence in a case, turned over as part of a lawsuit. FOIA Material: government documents obtained through a Freedom of Information Act (or similar) request.
            ***FOIA Request*** - A request for government documents under the Freedom of Information Act.
            ***Internal Memorandum*** - A memorandum or correspondence inside of an organization.
            ***Legislative Report*** - A report by a legislature.
            ***Magistrate Report/Recommendation*** - In the federal court system, magistrates are lower level judges who don't have the full powers of a federal judge. Sometimes they will resolve a legal question by writing a report and recommendation to a full federal judge, who can approve or reject it. These usually look a lot like opinions.
            ***Statute/Ordinance/Regulation*** - A rule or law created by a legislature or state or federal agency.
            ***Executive Order*** - A rule or order created by the president, a governor, or someone else in charge of a governmental entity, like a city or county.
            ***Transcripts*** - A verbatim written record of a hearing or trial in court. These are in dialog format, like a screenplay.
            ***Justification Memo*** - An internal memo by a DOJ attorney explaining why an entity should be investigated. This document type is just for U.S. Department of Justice Civil Rights Division cases.
            ***Notice Letter*** - A public letter from the DOJ to an entity letting them know they are the subject of an investigation. This document type is just for U.S. Department of Justice Civil Rights Division cases.
            ***Findings Memo*** - A public memo from the DOJ explaining the findings of an investigation. This document type is just for U.S. Department of Justice Civil Rights Division cases.
        order_type:
          type: string
          description: >
            This field indicates whether a document is a court order and, if so, what kind of court order.

            In terms of kinds of orders, we're basically asking two questions:

            Is the order a decree? We define decree to mean that the court is telling somebody outside of the lawsuit to do something.

            Is the order on consent (the parties agreed to it) or was it litigated (the parties didn't agree and the court had to decide)?

            Order type only matters for documents created by judges and settlements approved by judges. That means that for most document types, this value is null.

            ***null*** - The document is not a court order.
            ***Non-Decree*** - A court order that does not tell somebody outside the lawsuit to do something.
            ***Litigated Decree*** - A court order that tells somebody outside the lawsuit to do something, where the parties didn't agree on the outcome.
            ***Consent Decree*** - A court order that tells somebody outside the lawsuit to do something, where the parties agreed on the outcome.
        citation_paren:
          type: string
          description: >
            Information following a citation giving the reader extra information about its context. We rarely use them, so citation_paren is often null.
            Here are other options:
            ***aff'd by an equally divided court*** - The opinion was affirmed by the the U.S. Supreme Court through a tie vote without an opinion on the substance of the case.
            ***aff'd per curiam*** - The opinion was affirmed by a per curiam opinion, where the opinion wasn't authored by an individual judge.
            ***amicus motion denied*** - A motion to file an amicus brief was denied. An amicus curiae, Latin for "friend of the court," is a person or entity who is not a party to the case but asks the court for permission to advise the court on some aspect of the case.
            ***amicus motion granted*** - A motion to file an amicus brief was granted. An amicus curiae, Latin for "friend of the court," is a person or entity who is not a party to the case but asks the court for permission to advise the court on some aspect of the case.
            ***appeal dismissed*** - The appeal of the decision was dismissed.
            ***cert. denied*** - A higher court (typically the U.S. Supreme Court) rejected a request to review the lower court decision, known as a petition for writ of certiorari.
            ***cert. dismissed*** - A higher court (typically the U.S. Supreme Court) granted a request to review the lower court decision (a petition for writ of certiorari) but then later decided to reverse its decision – dismissing the grant of certiorari.
            ***cert. granted*** - A higher court (typically the U.S. Supreme Court) granted a request to review the lower court decision, known as a petition for writ of certiorari.
            ***consolidation denied*** - A request to consolidate similar cases was denied.
            ***counsel appointment request granted*** - A request to appoint counsel was granted.
            ***en banc*** - The case was heard by all of the judges of a particular court (as opposed to a panel with only some of the judges). En banc is French for "on the bench."
            ***inviting Solicitor General to file brief*** - The U.S. Supreme Court invited the solicitor general to file a brief expressing the views of the U.S. in a case where a party petitioned for certiorari – a procedure known as "Call for the Views of the Solicitor General" (CVSG).
            ***joint appendix -- granting OR denying motion*** - Relevant legal documents submitted to support a petition for writ of certiorari.
            ***mandamus denied*** - The court denied a writ of mandamus, which is a court order (usually from an appellate court) requiring a government official or entity to do their public duty (that they have neglected or refused to do).
            ***merits opinion*** - The opinion analyzes the substantive law of the case, rather than addressing only procedural matters.
            ***motion to dismiss cert. denied*** - A higher court (typically the U.S. Supreme Court) denied a request to reverse a previously granted a writ of certiorari. (See "cert. dismissed" above.)
            ***opinion respecting the denial of cert.*** - An opinion denying a writ of certiorari where the justice felt so strongly that they chose to write a separate opinion.
            ***oral argument motion granted OR denied*** - An oral argument motion was granted or denied. Oral argument is when lawyers speak in front of the judge(s), with the judge(s) interrupting to ask questions.
            ***prob. juris. decision deferred*** - When appealing a decision, the question of whether the higher court (typically the U.S. Supreme Court) has probable jurisdiction over the appeal has been postponed to the hearing on the merits.
            ***prob. juris. noted*** - When appealing a decision, the higher court (typically the U.S. Supreme Court) has noted that it has probable jurisdiction over the appeal.
            ***reh'g denied*** - A request for a rehearing of the case was denied.
            ***reh'g granted*** - A request for a rehearing of the case was granted.
            ***requesting briefing*** - The court requested that the parties submit written arguments ("briefs") to the court. This practice is known as "briefing."
            ***rev'd per curiam*** - The opinion was reversed by a per curiam opinion, where the opinion wasn't authored by an individual judge.
            ***stay denied*** - A request for a pause ("stay") of enforcement of the judgment was denied.
            ***stay granted*** - A request for a pause ("stay") of enforcement of the judgment was granted.
            ***stay vacated*** - The court set aside ("vacated") a pause ("stay") of enforcement of the judgment.
            ***stay vacatur denied*** - A request to remove a stay of enforcement of the judgment was denied. ("Vacatur" is Latin for "it is vacated.")
            ***summarily affirmed (without opinion)*** - The opinion was affirmed by a higher court without the higher court hearing further argument (and without issuing an opinion).
            ***summarily reversed (without opinion)*** - The opinion was reversed by a higher court without the higher court hearing further argument (and without issuing an opinion).
            ***table*** - The decision was a very short order summarily affirming a lower court opinion published in a table in a reporter. Federal courts of appeals no longer do this.
            ***vacated and remanded*** - On appeal, a higher court set aside ("vacated") the decision and asked the lower court to redo their decision in light of some guidance provided by the higher court ("remanded" the decision).
            ***vacated as moot*** - The decision was set aside because the dispute had been resolved in some other way. When a dispute is no longer "live," it becomes "moot."
        cite_1_page:
          description: >
            The page number for Citation 1. If there is no citation for Citation 1, this field is null.
          type: integer
        cite_1_reporter:
          description: >
            The reporter for Citation 1. If there is no citation for Citation 1, this field is null.

            Citation 1 is for our preferred reporters, which include several types of reporters:
            ***U.S. Reports*** - Reporter for the U.S. Supreme Court
            ***Federal Reporter*** - Reporter for the federal circuit courts
            ***Federal Supplement*** - Reporter for the federal district courts, U.S. Court of International Trade, U.S. Court of Federal Claims, and Judicial Panel on Multidistrict Litigation
            ***Federal Appendix*** - Reporter for circuit opinions that are "unpublished"
            ***Regional Reporters*** - West's reporters for state courts
            ***State Court Reporters*** - Individual states' reporters for their courts
          type: string
        cite_1_vol:
          type: integer
          description: >
            The volume number for Citation 1. If there is no citation for Citation 1, this field is null.
        cite_2_page:
          description: >
            The page number for Citation 2. If there is no citation for Citation 2, this field is null.
          type: integer
        cite_2_reporter:
          description: >
            The reporter for Citation 2. If there is no citation for Citation 2, this field is null.

            These are not the most preferred reporters, but many lawyers prefer them to those in Citation 3 (see [cite_3_reporter](https://api.clearinghouse.net/api-reference/objects/document/citations#cite_3_reporter)). There are only two options for Citation 2:
              ***S.Ct.*** - Supreme Court Reporter. Typically publishes recent opinions faster than the U.S. Reports.
              ***WL*** - Westlaw. A commercial electronic database that contains many judicial opinions, among other things.

          type: string
        cite_2_vol:
          type: integer
          description:
            The volume number for Citation 2. For Westlaw citations, the volume is the year of the opinion. If there is no citation for Citation 2, this field is null.
        cite_3_page:
          type: integer
          description: >
            The page number for Citation 3. If there is no citation for Citation 3, this field is null.
        cite_3_reporter:
          type: string
          description: > 
            The reporter for Citation 3. If there is no citation for Citation 3, this field is null.

            These are the reporters we prefer not to use (and don't often collect). There are two types of reporters for Citation 3:

            ***U.S. Supreme Court Reports, Lawyers' Edition*** - Reporter for the U.S. Supreme Court
            ***Lexis*** - LexisNexis. A commercial electronic database that contains many judicial opinions, among other things.
        cite_3_vol:
          type: integer
          description: >
            The volume number for Citation 3. For Lexis citations, the volume is the year of the opinion. If there is no citation for Citation 3, this field is null.
        citation_status:
          type: string
          description: >
            The status of the citation information. There are a several possible values for this field:
            ***null*** - This field has not been set yet. This is likely because the document's metadata is not yet complete.
            ***Don't know*** - We don't know if this document has a citation.
            ***No citation available*** - There is no citation for this document, but it is an opinion or order (i.e. a type of document that could have a citation.
            ***Not applicable*** - The document is not the type of document that can have a citation (i.e. it is not an opinion or order).
            ***Not checked yet*** - We have not checked for a citation yet.
            ***Official citation found/coded*** - We found an official citation (i.e. not Westlaw or Lexis) and have updated the appropriate fields.
            ***S.Ct. - check later for U.S.*** - The document has a citation for the Supreme Court Reporter (S. Ct.) but was too recent to have a citation for the U.S. Reports (U.S.) when we last checked.
            ***WL/LEXIS cite: Check later for official citation*** - The document has a Westlaw or Lexis citation but was too recent to have an official citation when we last checked.
            ***WL/LEXIS only: No official citation available*** - The document has a Westlaw or Lexis citation but does not have an official citation.
        court:
          description:
            The court where the document was filed. The options are the same as the court field for cases -- see [court](https://api.clearinghouse.net/api-reference/objects/case/case-details#court).
          type: string
        no_title:
          description:
            If true, it indicates that the document doesn't have a title.
          type: boolean
        party_types:
          description: >
            The types of parties or entities that filed or created a document. More than one can be selected. The options are:

            ***Plaintiff*** - The person or entity who files a lawsuit.
            ***Administrative tribunal*** - A government office or agency, other than a court, that resolves disputes.
            ***Amicus Curiae*** - Latin for "friend of the court." Someone who isn't a part of a lawsuit, but gives the judge advice about how to decide a case.
            ***Mediator*** - A person (other than the judge) who tries to help the parties to a lawsuit negotiate a compromise agreement.
            ***Defendant*** - The person or entity who a lawsuit is filed against
            ***Court*** - The judge.
            ***Defendant-Intervenor*** - A person or entity who joins a case filed by someone else as a defendant.
            ***Expert*** - A person with special expertise (like a doctor or scientist) who is hired by the parties or the court to give their opinion in a lawsuit.
            ***Monitor/Master*** - A person hired by the court to determine whether an institution or entity is complying with the terms of a settlement or court order.
            ***Plaintiff-Intervenor*** - A person or entity who joins a case filed by someone else as a plaintiff.
            ***Receiver*** - A person who is placed in control of an institution or entity by a court.
          type: array
          items:
            type: string
        per_curium:
          type: boolean
          description:
            If the opinion was issued per curiam, which is Latin for "for the court." This means that the opinion wasn't authored by an individual judge.
        is_core_document:
          type: boolean
          description:
            Whether the document is a central document to the case. By default, all documents are core documents; we use this only to tidy up cases with lots of documents.

            On the Clearinghouse site, this controls whether the document is immediately visible. If is_core_document is false, then a user must uncheck the "show only core documents" box to see the document on the Clearinghouse site.
        file:
          type: string
          description:
            URL to the PDF file for the document.
        title:
          type: string
          description:
            The name or title of a document, usually as it appears in the document itself. Most documents filed in court have formal names/titles (e.g. "Plaintiff's Motion for Summary Judgment"). For documents that don't, like letters, we use [description](https://api.clearinghouse.net/api-reference/objects/document/document-details#description).
        public_note:
          description:
            This field allows us to add publicly visible text to a document entry.
          type: string
        document_type_other:
          description:
            This field allows users to input a new, single use document type, if a document doesn't fit into any of the categories above. We don't use it very often.
          type: string
        external_url:
          description:
            A link to the document at another place on the Internet.
          type: string
        ecf_number:
          description:
            In federal court, documents filed in a case are assigned ECF numbers in the order they're filed. In the Clearinghouse, we use these numbers to line up documents with docket entries.

            Sometimes one document is attached to another document in PACER/RECAP. The attached document will have a dash (e.g. "15-2", where the document is the second attachment).
          type: string
        clearinghouse_link:
          type: string
          description:
            URL to the clearinghouse.net page for the document.
        id:
          type: integer
          description:
            The document's ID. Each document's ID is unique.
        document_status:
          description:
            document_status
          type: string
    Resource:
      type: object
      properties:
        file:
          description:
            URL to the PDF file of the resource (if applicable). If the resource is a webpage, then
          type: string
        title:
          description:
            The title of the resource, usually as it appears in the resource itself.
          type: string
        author_role:
          description: >
            Identifies whether a resources was created by a student or faculty member. Used only for pieces published in law reviews or other periodicals. The options are:
            ***N/A*** - Resource is not a law review article or periodical.
            ***Faculty*** - Written by a professor.
            ***Law Student*** - Written by a law student.
            ***Student*** - Written by a non-law student.
          type: string
        abstract:
          description:
            A brief description of the resource. For law review pieces and other periodicals, we copy and paste the abstract into this field. For other kinds of resources we usually copy a representative paragraph or compose a quick description of the resource.
          type: string
        author:
          description:
            The full name of the author or authors, if they are individuals.
          type: string
        institution:
          description:
            The author of the resource, if it's an institutional author. The institutional affiliation of an author, if the author is an individual.
          type: string
        citation:
          description:
            The citation for a resource. Usually used for law review articles or other periodicals.
          type: string
        external_url:
          description:
            A link to the resource elsewhere on the web.
          type: string
        display_date:
          description:
            A written version of the date the resource was published or created. This field allows us to differentiate different issues of periodicals (e.g. "Fall 2021", "May 1996").
          type: string
        resource_type:
          description:
            We collect a several kinds of resources, which are usually different kinds of things.
            ***Clearinghouse Links to External Resources*** - Links to other websites with information relevant to a case. For example, an ACLU webpage describing a case it litigated or an Oyez entry for a case heard by the Supreme Court.
            ***Articles about the Clearinghouse*** - Articles or webpages, including news coverage, about the Clearinghouse or describing Clearinghouse projects.
            ***Articles that use the Clearinghouse*** - Law review or other periodicals that cite entries in the Clearinghouse.
            ***Case Studies*** - A law review article, book, or other resource that discusses a case in the Clearinghouse.
            ***Clearinghouse Report*** - A white paper or report produced by the Clearinghouse.
          type: array
          items:
            type: string
        cases:
          description:
            The cases that are related to the resource.

            If the resource also has related case types, causes of action, issues, special collections, or attorney organizations, individual cases that all under those related items will not be part of cases.
          type: array
          items:
            type: string
        case_types:
          description:
            The case types that are related to the resource. For a full list of case types, see [case_types](https://api.clearinghouse.net/api-reference/objects/case/case-details#case_types).
          type: array
          items:
            type: string
        date:
          description:
            The date a resource was created or published. The format of this string is "YYYY-MM-DDThh:mm:ssTZ". The time zone (TZ) will be either -5:00 for Eastern Standard Time or -4:00 for Eastern Daylight Time.
          type: string
        causes:
          description:
            The causes of action that are related to the resource. For a full list of causes of action, see [causes](https://api.clearinghouse.net/api-reference/objects/case/causes-of-action#causes).
          type: array
          items:
            type: string
        issues:
          description:
            The issues that are related to the resource. For a full list of issues, see [issues](https://api.clearinghouse.net/api-reference/objects/case/issues#issues).
          type: array
          items:
            type: string
        special_collections:
          type: array
          description:
            The special collections that are related to the resource. For a full list of special collections, see [special_collections](https://api.clearinghouse.net/api-reference/objects/case/case-details#special_collections).
          items:
            type: string
        attorney_orgs:
          description:
            The attorney organizations that are related to the resource. For a full list of attorney organizations, see [attorney_orgs](https://api.clearinghouse.net/api-reference/objects/case/parties#attorney_orgs).
          type: array
          items:
            type: string
        source:
          description:
            For articles in law reviews or other periodicals, this field is the name of the publication.

            For websites, this field is the root of website.
          type: string
        
      

          
