dspy
pandas
openai
tiktoken
git+https://github.com/lapp0/outlines@openai-structured-generation
datasets
langchain-core
langchain-ollama
langchain-anthropic
langchain-text-splitters
langchain-together
tqdm
